@import url(rainbow.css);
.button {
	background-color: #4CAF50;
	border: none;
	padding: 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

.button1-small {
	border-radius: 8px;
}

.button2-big {
	border-radius: 30%;
}

.red {
	background-color: #ff0000;
}

td{
	padding:20px;
}

table{
	margin-left: auto;
	margin-right: auto;
}

h1, h2, h3, h4, h5, h6{
	text-align:center;
}
.pompom{
	background: linear-gradient(to bottom, #fb0915, #f7a50d, #fff505);
}
.bubble{
	background: linear-gradient(to bottom, #2dff05, #20e3b5, #4571e1 );
}
.dot{
	background: linear-gradient(to bottom, #b44ae6, #e35cda, #e63030);
}
.title{
  color: red;
  font-family: 'Trebuchet MS', sans-serif; 
}

.title-large {
  font-size: 2rem;
}

.title-small {
  font-size: .5rem;
}
#morecontent {
  background-color: yellow;
}
#knowledge > * {
  border: 3px red solid;
}
p + * {
  background-color: #FFFF00;
}
div li::marker{
  content:"😜 ";
}
div li::marker{
  color:red;
}
#rainbow td:hover {
  background-color: black;
}
