body {
  		background-image: url('https://natureconservancy-h.assetsadobe.com/is/image/content/dam/tnc/nature/en/photos/5/4/545af6decbe0f83be26b2c264b402049_original.JPG?crop=0%2C285%2C4032%2C2116&wid=1200&hei=630&scl=3.36');
  		background-repeat: no-repeat;
  		background-attachment: fixed;
  		background-size: cover;
}