@import url(rainbow.css);
.button {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

.button1 {
	border-radius: 8px;
}

.button2 {
	border-radius: 30%;
}
.button-smallRadius {
	width: 100px;
    height: 50px;
    background-color: white;
    color: red;
    border: 3px solid maroon;
	border-radius: 9px;
}
.button-tall {
	float: left;
    border: 3px solid orangered;
	height: 100px;
}
.button5 {
    display: inline-block;
    padding: 17px 27px;
    font-size: 16px;
    cursor: pointer;
    color: white;
    background-color: purple;
    border: none;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    border-radius: 8px;
    box-shadow: 0 10px #998;
}
.red {
	background-color: #ff0000;
}

td{
	padding:20px;
}

table{
	margin-left: auto;
	margin-right: auto;
}

h1, h2, h3, h4, h5, h6{
	text-align:center;
}
.title{
    color: red;
    font-family: 'Trebuchet MS', sans-serif;
}
.title-large {
    font-size: 3rem;
}
.title-small {
    font-size: 1rem;
}
#morecontent {
    background-color: wheat;
}
#neveragain{
	font-size: 5rem;
}
*{
    text-align: center;
	font-style: oblique;
}
