body {
    background-image: url("../images/weeknd.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    font-family: Arial;
}

table {
	font-family: "Marker Felt", "Comic Sans MS", fantasy;
	color: #3571ad;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	border-collapse: collapse;
	border-spacing: 0px;
}

tr {
	border: 1px solid #232222;
	text-align: center;
	background-color:#495564; 
}

th {
	text-align: center;
	color: #ffffff;
	background-color: #c693e4;
	background-size:cover
}
body {
	background-color: #9961b1;
}
ol{
	list-style-type: upper-roman;
}
ul {
  list-style-type: square;
}
