	@import url(rainbow.css);

	.button {
		background-color: #4CAF50;
		border: none;
		color: white;
		padding: 20px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		margin: 4px 2px;
		cursor: pointer;
	}

	.button1 {
		border-radius: 8px;
	}

	.button2 {
		border-radius: 30%;
	}

	.red {
		background-color: #ff0000;
	}

	td {
		padding: 20px;
	}

	table {
		margin-left: auto;
		margin-right: auto;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		text-align: center;
	}

	.custom1 {
		background-color: blue;
		border-radius: 20px;
		color: white;
	}

	.custom2 {
		background-color: purple;
		font-size: 18px;
		padding: 10px 20px;
	}

	.custom3 {
		background-color: orange;
		border: 3px dashed black;
	}

	.title {
		color: red;
		font-family: 'Trebuchet MS', sans-serif;
	}

	.title-large {
		font-size: 2rem;
	}

	.title-small {
		font-size: 0.5rem;
	}

	.button-largeRadius {
		border-radius: 30px;
	}

	.button-smallRadius {
		border-radius: 5px;
	}

	#hireButtons {
		background-color: lightgray;
		padding: 20px;
	}

	#footerTable {
		background-color: black;
		color: white;
		text-align: center;
	}

	* {
		font-family: Arial, sans-serif;
	}

	.card img {
		width: 100%;
		font-size: 2vw;
	}

	#knowledge>* {
		border: 3px red solid;
	}

	p+* {
		background-color: #FFFF00;
	}

	p+* {
		background-color: #FFFF00;
	}

	#knowledge>li::marker {
		content: "😜 ";
		color: red;
	}

	td:hover {
		background-color: black;
	}

	tr:nth-child(even) {
		background-color: lightgray;
	}

	input:focus {
		border: 2px solid blue;
	}

	button:hover {
		background-color: green;
	}
