table {
	font-family: "Marker Felt", "Comic Sans MS", fantasy;
	color: #003366;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	border-collapse: collapse;
	border-spacing: 0px;
}

tr {
	border: 1px solid #000000;
	text-align: center;
	background-color:#9FB6CD; 
}

th {
	text-align: center;
	color: #ffffff;
	background-color: #003366;
}
body {
    background-image: url(https://natureconservancy-h.assetsadobe.com/is/image/content/dam/tnc/nature/en/photos/t/n/TNC_PC2022_63bed9c5f30bfc303144eb74f072df40-original_JPG.Jpg?crop=0%2C562%2C2500%2C1375&wid=1300&hei=715&scl=1.9230769230769231);
    background-size: cover;
}
ol {
    color: rgb(255, 0, 0);
}

ul {
    color: rgb(183, 0, 255);
}
