/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

/* Navbar */
.navbar {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
  font-size: 28px;
  font-weight: bold;
}

/* Gallery Layout */
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
  padding: 20px;
}

/* Gallery Images */
.gallery img {
  width: 25%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

/* Hover Effect */
.gallery img:hover {
  transform: scale(1.05);
}

/* Footer */
.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 20px;
  font-size: 16px;
}
.gallery img {
  width: 150px;
  height: 100px ;
  object-fit: cover;
  border-radius: 10px;
  display: block;
}
