@import url(rainbow.css);

footer {
    font-size: 12px;
    text-align: center;
}

#rainbow {
    width: 100%;
}

/* Make rainbow blocks big */
#rainbow td {
  height: 150px;
}

/* CHILD SELECTOR */
#knowledge > * {
  border: 3px red solid;
}

/* ADJACENT SELECTOR */
p + * {
  background-color: yellow;
}

/* MARKER */
#knowledge li::marker {
  content: "😜 ";
}

/* HOVER */
#rainbow td:hover {
  background-color: black;
}

/* PSEUDO-CLASSES */
a:hover {
  color: red;
}

a:visited {
  color: purple;
}

li:first-child {
  font-weight: bold;
}
